@page "/"

<h1>Dashboard for Blazor - How to implement multi-tenant Dashboard architecture</h1>

<p>Use the "Register" link to create and confirm new accounts (admin@gmail.com and user@gmail.com for this example).</p>
<p>Use the "Log In" link to select the current user and navigate to the "Web Dashboard" page.</p>
